<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ajax</title>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script>
        $(function () {
            $('#btnAjax').click(function () {
                $.ajax({
                    'url': '/ajax_handle',
                    'dataType': 'json',
                    //'async':false,//同步的ajax请求
                }).success(function (data) {
                    //进行处理
                    if (data.res == 1){
                         $('#message').show().html("提示信息")
                    }
                })
            })
        })
    </script>
        <style>
            #message{
              display: none;
                color: red;
            }
        </style>
</head>
<body>
<input type="button" id="btnAjax" value="ajax请求">
<div id="message"></div>

</body>
</html>